.uiSideNav .count.uiSideNavCount { display: none; }

.sideNavItem .countValue { display: none; }
#fbNotificationsJewel .jewelCount { display: none; }
#fbNotificationsJewel .jewelButton { background-position: 0 -886px;}